*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Gabriela', serif;
  
}
hr{
    margin-right:42%;
    margin-left: 5px;
    margin-top:0!important;
    background-color:rgb(105, 104, 104) ;
    
}
nav{
    border-bottom:solid rgb(201, 193, 193);
}


a{
    text-decoration:none;
    text-align: center;
    color: rgb(206, 201, 201);
}
.heading{
    margin: auto;
    font-family: 'Cabin Sketch', cursive;
    margin-left: 15px;
    margin-top:8px ;
    font-size: 35px;
    font-weight: 100;
    color: rgb(255, 255, 255);
}

.logo{
    margin:auto;
    margin-left:3px ;
    margin-right:0 ;
   

}

.section{
    display: flex;
    background-color:rgb(39, 39, 39);
    color:rgb(206, 201, 201);
    font-size: 25px;
    font-weight: 100;
    padding: 10px!important;
    padding-left:10px!important ;
    margin-left:5px;
    margin-right:50px;
    border: groove rgba(175, 30, 30, 0.808) 3px!important;
    border-radius: 20px 2px 20px 2px;
    background: linear-gradient(-45deg,rgb(161, 22, 22),rgb(59, 38, 38),rgb(116, 30, 30),rgb(67, 36, 36));
}

#navbarNav{
   
    color: rgb(235, 226, 210);
    margin: 0!important;
    padding: 0!important;
   
    
}

ul li a{
    font-size: 16px;
    margin: 0;
    font-weight: 100!important;
    color: rgb(228, 227, 226)!important;
    animation-name:bring ;
    animation-duration:0.5s;
    transition: ease-in-out;
    
}

.margin{
    margin: 0;
}


@keyframes bring{
    from {
        transform: translatex(-2000px);
    }
    to{
        transform: translatex(0px);
    }
}




.sub-heading{
    width: 50%;
 margin-left: 5px;
 margin-bottom: 0;
 font-size: 18px;
 font-weight: 100;
 color:rgb(221, 200, 200) ;
 border-radius: 0px 15px 15px 0px;
 background-color:rgb(83, 61, 61) ;
margin-right: 160px;
 padding: 10px;
 background: linear-gradient(30deg,rgb(110, 20, 20),rgb(56, 29, 29),rgb(54, 40, 40),rgb(95, 30, 30));

}





.new-comics{
    display: flex;
    margin-top: 10px;
    -webkit-box-flex: initial;
   
    
    
}
.comics{
max-height: 100%;
width:31.5%;
margin-top: 5px;
    margin-left: 5px;
    
}
.comics a img{
    border: rgb(73, 72, 72) solid 1px;
    
    border-radius: 5px;

}
.comics a span {
    border-top:solid  rgb(73, 72, 72) 2px;
    font-weight: 500;
    font-size: 15px;
    color: rgb(206, 201, 201);
    display: block;
    border-radius: 5px;
    padding: 5px;

} 

.comics a button {
    border: rgb(73, 72, 72) solid 1px;
    color: rgb(27, 17, 17);
    display: block;
    border-radius: 5px;
    padding: 5px;
    background-color:rgb(37, 37, 37);
} 





footer{
    color:rgb(207, 207, 207);
    width: 100%;
    padding:10px;
    

}

