*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
  background-color: black;
  padding: 0px!important;
}
.container-fluid{
    display: block;
    align-items: center!important;
    justify-content: center;
    height: 100vh;
    width: 100%;
   position: relative;
    padding: 0%;
}



.container {
    position: absolute;
    top: 23%;
    left: 5%;
    background:rgba(255, 255, 255, .2);
    padding:20px;
  margin: auto;
  width: 90%;
    animation-name: loginPage;
    animation-duration: 1s;
    animation-fill-mode: forwards!important;
    transition:1.2s;
   
   
}
button{
    text-align: center;
    width: 100%;
    height: 45px;
    justify-content: center;
    border:hidden;
    font-weight: 600;
   
   
}
form {

    margin: auto;
    margin-top:25% ;
    margin-bottom: 25%;
}


form input{
    width: 100%;
    margin-bottom: 15px;
     height: 40px;
     

}
form button{
    font-size: 18px;
}

@keyframes loginPage {
    0%{
        transform: translateY(-2000px);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);
    }
}

.btn{
    
       width:100%;
       margin: auto;
       margin-bottom:20px ;
       padding:0;
       display: block;
       height: 60px;
       border-radius: 10px;
       justify-content: center;
       font-size:20px;
       font-weight: 650;
       border-width:3px;
       background:rgba(36, 36, 34, 0.4);  
     
}

.controls{
     
    align-items: center!important;
    justify-content: center;
    height: 100vh!important;
    width: 100%!important;
   position: relative;
   
}

.center{
    

    position: absolute;
     top:30%;
     left: 20%;
     right: 25%;
     animation-name: button;
     animation-duration: 0.8s;
     animation-fill-mode: forwards;
   
    width: 60%;
    background:rgba(36, 36, 34, 0.4);
}

@keyframes button {
    0%{
        transform:translateX(-2000px);
    } 
    50%{
        transform: translateX(50px);
    }
100%{
    transform:translateX(0px);
}

}


small{
    margin-top:10px;
    float: right;
    font-size: 18px;
    color:blue;
    font-weight: 700;
}

.login{
    display: none;}