*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Gabriela', serif;
}

hr{
    margin-right:20%;
    margin-left: 5px;
    background-color:rgb(43, 36, 36) ;
    
}

a{
    text-decoration:none;
    text-align: center;
    color: rgb(206, 201, 201);
}
.main{
display: flex;
    margin-top: 1%;
    background-attachment: fixed;
}




h1{
    margin-left: auto;
   margin-top: auto;
    width: 90%;
    margin-right:auto;
    margin-bottom: auto;
    font-weight: 100;
    color:rgb(37, 37, 37) ;
   
    
}


.logo{
    margin-bottom: 10px;
    margin-top: 8px;
}

.navbar{
    background-color:rgb(37, 37, 37);
   

}
#toggler{
    margin-top: auto;
   margin-right:15px;
    margin-bottom: auto;
    width: 10%;
    float: right;
    margin-left: auto;
}



.burger {
    width: 100%;
    height: 4px;
    background-color: rgb(37, 37, 37);
    margin: 4px;
    color:rgb(37, 37, 37) ;
    margin-left: auto;

}


ul li {
    list-style: none;
  
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
    
    padding-bottom:5px ;
  
}

.navbar-list{
    padding-top: 5px;
}


.navbar-item{
    margin-top: 8px;
}
.sub-heading{
    margin-left: 5px;
    font-size: 20px;
    font-weight: 100;
    color:rgb(199, 179, 179) ;
    border-radius: 15px 15px 0 0;
    background-color:rgb(43, 36, 36) ;
   margin-right: 160px;
    padding: 10px;
    
   
   }
   



.new-comics{
    display: flex;
    
    -webkit-box-flex: initial;
    
    
    
}
.comics{
max-height: 100%;
width:31.5%;
margin-top: 5px;

    margin-left: 5px;
    

}
.comics a img{
    border: rgb(73, 72, 72) solid 1px;
    
    border-radius: 5px;

}
.comics a span {
    border-top:solid  rgb(73, 72, 72) 2px;
    font-weight: 500;
    font-size: 15px;
    color: rgb(206, 201, 201);
    display: block;
    border-radius: 5px;
    padding: 5px;

} 

.comics a button {
    border: rgb(73, 72, 72) solid 1px;
    color: rgb(27, 17, 17);
    display: block;
    border-radius: 5px;
    padding: 5px;
    background-color:rgb(37, 37, 37);
} 


.section{
    background-color:rgb(39, 39, 39);
    color:rgb(206, 201, 201);
    font-size: 25px;
    font-weight: 100;
    padding: 15px;
    padding-left:8px ;
    margin-left:5px;
    margin-right:50px;
    border: groove rgb(105, 73, 73);
    border-radius: 20px 2px 20px 2px;
}




footer{
    background-color:rgb(155, 155, 155);
    width: 100%;
    padding:10px;
    

}


.game-list{
    display: flex;
}

.game-item{
    width: 50%;
    margin: 3px;
}


.game-item p a{
    color: rgb(206, 201, 201);
}

.game-item p {
   padding-top: 15px!important;
   font-size: 20px;
background-color:rgb(37, 37, 37);
   margin-top:1px ;
  padding: 15px;
  padding-bottom:10px ;
   

   }

   .game-list-heading{
       font-size: 30px;
   }