*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Oxanium', cursive;
    padding: 5px;
    
  
}

.container::-webkit-scrollbar{
    width: 0;
}
.container{
height:800px;
    overflow-y: scroll;
}


 a {
     text-decoration: none;
     color:white;
     
  
 }

 .back{
    
    margin:20px!important;
    margin-left: 15px!important;
    padding: 10px;
     font-size: 20px;
     border-radius:10px 10px 10px 10px;
     text-align: center;
     background:linear-gradient(-45deg,rgb(253, 253, 253),rgb(167, 167, 167));
 }


h1{
    text-align: center;
    color: red;
    font-family: 'Rye', cursive;
    font-weight: 500;

}

.chapter-bar{
padding: 10px;
    width: 100%;  
    color: white; 
    overflow-y: auto!important;

}


.in-or-out{
    display: flex;
    margin-top: 10px;
}

.in{
width: 50%;
align-content: center!important;
padding-right:5% ;
padding-left: 18%;

}

.in a{
   width:80%;
   margin-left:auto;
   
}

.in a button {
padding: 8px 10px 8px 10px;
margin:auto;
justify-content: end;
border-radius:5px ;
}

.out{
width: 50%;
padding-left:7%;
padding-right: 20%;
align-content: center!important;

    
    }
    
    .out a{
       width:80%;
       margin-left:auto;
 
       
    }
    
    .out a button {
    padding: 8px;
    border-radius:5px ;

    }

.heading{
        text-align: center!important;
    justify-items: center!important;
  

}

.heading span {
   font-size: 100%;
   text-align: center!important;
   font-size: 20px;

}

.head{
    color: rgb(235, 235, 235);
}